* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgba(137, 43, 226, 0.486);
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
}

header {
    color: white;
    margin-top: 40px;
    display: block;
    text-align: center;
}

section {
    border-radius: 30px;
    width: 400px;
    height: 300px;
    background-color: white;
    margin: auto;
}

div {
    text-align: center;
}